:root {
    --beige: #F4F1DE;
    --terracotta: #E07A5F;
    --bleu-profond: #3D405B;
    --vert-sauge: #81B29A;
    --jaune-doré: #F2CC8F;
}

.jumbotron {
    background-image: url('../../media/img/design/saintAnge.png');
    background-size: cover;
    background-position: center;
    color: white;
    position: relative;
}

.jumbotron::before {
    content: '';
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    background: rgba(0, 0, 0, 0.5); /* Ajoutez votre opacité désirée ici */
    z-index: 0;
}

.jumbotron > * {
    position: relative;
    z-index: 1;
}

/* Personnalisation de la barre de navigation */
.navbar {
    background-color: var(--bleu-profond);
}

.nav-link, .navbar-brand {
    color: var(--beige);
}

.nav-link:hover, .navbar-brand:hover {
    color: var(--jaune-doré);
}

/* Personnalisation des boutons */
.btn-primary {
    background-color: var(--terracotta);
    border-color: var(--terracotta);
    color: white;
}

.btn-primary:hover {
    background-color: darken(var(--terracotta), 10%);
    border-color: darken(var(--terracotta), 10%);
}

/* Style des boutons pour les actions secondaires */
.btn-secondary {
    background-color: var(--vert-sauge);
    border-color: var(--vert-sauge);
    color: white;
}

.btn-secondary:hover {
    background-color: darken(var(--vert-sauge), 10%);
    border-color: darken(var(--vert-sauge), 10%);
}

/* Styles supplémentaires pour améliorer le visuel du site */
body, h1, h2, h3, p {
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3 {
    color: var(--bleu-profond);
}

p {
    color: var(--gris);
}

/* Personnalisation des cartes */
.card {
    background-color: var(--beige);
    border: 1px solid var(--jaune-doré);
}

.card-header {
    background-color: var(--vert-sauge);
    color: white;
}

.card-body {
    color: var(--gris-foncé);
}

/* Ajout de légères ombres pour un effet de profondeur */
.shadow {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
}
