/* Charte couleurs révisée:
    Blanc (#FFFFFF)
    Gris clair (#F0F0F0)
    Gris moyen (#CCCCCC)
    Gris foncé (#333333)
    Rouge du drapeau italien (#CE2B37)
*/

body, .footer {
    background-color: #F0F0F0;
    color: #333333;
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    color: #333333;
    font-family: 'Lora', serif;
}

.navbar, .footer {
    background-color: #333333;
}

.nav-link, .navbar-brand, .footer a {
    color: #FFFFFF;
}

.nav-link:hover, .navbar-brand:hover, .footer a:hover {
    color: #CE2B37;
}

.custom-jumbotron {
    background-image: url('../media/img/design/saintAnge.png');
    color: #FFFFFF;
    padding: 100px 0;
}

.custom-jumbotron::before {
    background-color: rgba(255, 255, 255, 0.5);
}

.card-img-caption {
    background: rgba(0, 0, 0, 0.7);
    color: white;
}

.custom-btn, .btn-outline-light {
    background-color: #CCCCCC;
    border-color: #CCCCCC;
    color: #333333;
}

.custom-btn:hover, .btn-outline-light:hover {
    background-color: #CE2B37;
    border-color: #CE2B37;
    color: #FFFFFF;
}

.custom-author {
    color: #CE2B37;
}

.custom-card {
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: all 0.2s ease-in-out;
}

.custom-card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0,0,0,0.2);
}

.card {
    display: flex;
    flex-direction: column;
    height: 100%; 
}

.card-img-top {
    width: 100%; 
    height: 200px; 
    object-fit: cover; 
}

.card-body {
    flex-grow: 1; 
    display: flex;
    flex-direction: column;
}

.card-text {
    flex-grow: 1;
}

.btn.custom-btn {
    margin-top: auto; 
    background-color: #009246; 
    color: #ffffff;
    border: none;
}
.btn.custom-btn:hover {
    background-color: #007234;
}
.img_weather {
    width: 75%;
    height: auto;
}

.meta a {
    color: #CE2B37; 
}

.meta {
    font-style: italic; 
}
