{% extends 'rome/base.html' %}
{% load static %}
{% load markdown_filters %}
{% block content %}
<div class="max-w-4xl mx-auto mt-4">
    <img src="{{ article.image.url }}" alt="{{ article.title }}" class="w-full h-auto object-cover rounded-lg shadow-lg">
    <div class="mt-4">
        <h2 class="text-3xl font-bold">{{ article.title }}</h2>
        <p class="text-gray-600">Publié le {{ article.date|date:"j F Y" }} par <a href="{% url 'author_detail' pk=article.author.pk %}" class="text-blue-500">{{ article.author.name }}</a></p>
        <div class="mt-4 text-gray-800">{{ article.content|markdown|safe }}</div>
    </div>
    <!-- Inclusion d'une section pour les commentaires, ajustez selon votre implémentation -->
    {% include 'rome/comment.html' %}
</div>
{% endblock %}
