{% extends 'rome/base.html' %}

{% block content %}
    <div class="card mb-4">
        <figure>
            <img src="{{ article.image.url }}" class="card-img-top float-{{ article.image_position }}" alt="{{ article.title }}">
            <figcaption class="card-img-caption">
                <!-- Ajoutez votre description d'image ici -->
                {{ article.image_description }}
            </figcaption>
        </figure>
        <div class="card-body">
            <h2 class="card-title">{{ article.title }}</h2>
            <p class="card-text meta">Publié le {{ article.date|date:"j F Y" }} par <a href="{% url 'author_detail' pk=article.author.id %}">{{ article.author.name }}</a></p>
            <p class="card-text">{{ article.content }}</p>
        </div>
    </div>
{% endblock %}

