{% extends 'rome/base.html' %}
{% load static %}
{% load markdown_filters %}
{% block content %}
<div class="container mt-4">
    <div class="card mb-4">
        <!-- Assurer que l'image est responsive et bien alignée -->
        <img src="{{ article.image.url }}" class="card-img-top" alt="{{ article.title }}" style="object-fit: cover; width: 100%; max-height: 400px;">
        <div class="card-body">
            <h2 class="card-title">{{ article.title }}</h2>
            <p class="card-text meta">Publié le {{ article.date|date:"j F Y" }} par <a href="{% url 'author_detail' pk=article.author.id %}">{{ article.author.name }}</a></p>
            <!-- Convertir le contenu Markdown en HTML -->
            <p class="card-text">{{ article.content|markdown|safe }}</p>
        </div>
    </div>

    <!-- Inclusion d'une section pour les commentaires, ajustez selon votre implémentation -->
    {% include 'rome/comment.html' %}
</div>
{% endblock %}
