{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Votre Site sur Rome{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <link rel="icon" type="image/webp" href="{% get_media_prefix %}img/design/logo.webp">
</head>
<body class="bg-gray-50">
    {% include 'rome/navbar.html' %}
    
    <div class="jumbotron text-center py-20 mb-8 jumbotron" style="--bg-opacity: 0.5; background-color: var(--bleu-profond);">
        <h1 class="text-6xl font-bold">Découvrez Rome</h1>
        <p class="text-xl mt-4">Votre guide complet pour explorer la ville éternelle.</p>
    </div>

     <div class="container mx-auto flex flex-wrap">
        <!-- Cartes Météo et Sponsors sur le côté gauche -->
        <div class="w-full md:w-1/4 p-4">
            <div class="mb-4">
                {% include 'rome/weather.html' %}
            </div>
            {% for sponsor in sponsors %}
                <div class="mb-4">
                    {% include 'rome/sponsor_card.html' with sponsor=sponsor %}
                </div>
            {% endfor %}
        </div> 

        <!-- Contenu principal -->
        <main class="w-full md:w-3/4 p-4">
            {% block content %}{% endblock %}
        </main>
    </div>

    <footer class="bg-gray-800 text-white text-center p-4 mt-8">
        {% include 'rome/footer.html' %}
    </footer>
</body>
</html>