{% load markdown_filters %}

<div class="card mb-4">
    <div class="card-body">
        <h3>Commentaires</h3>

        {% if article.category == 'Itineraire' %}
            <form method="post" action="{% url 'itineraire_detail' pk=article.id %}" class="comment-form">
        {% elif article.category == 'Histoire' %}
            <form method="post" action="{% url 'histoire_detail' pk=article.id %}" class="comment-form">
        {% elif article.category == 'Article' %}
            <form method="post" action="{% url 'article_detail' pk=article.id %}" class="comment-form">
        {% endif %}
        
            {% csrf_token %}
            {{ comment_form.as_p }}
            <button type="submit" class="btn btn-primary mb-3">Ajouter un commentaire</button>
        </form>
        

        <!-- Liste des commentaires -->
        <ul class="list-unstyled">
            {% for comment in comments %}
                <li class="mb-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{ comment.author }} - {{ comment.title }}</h5>
                            <p class="card-text">{{ comment.content|markdown|safe }}</p>
                            {% comment %} <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#replyForm{{ comment.id }}" aria-expanded="false" aria-controls="replyForm{{ comment.id }}">
                                Répondre
                            </button> {% endcomment %}
                            <!-- Formulaire de réponse (initialement caché) -->
                            <div class="collapse" id="replyForm{{ comment.id }}">
                                {% comment %} <form method="post" action="{% url 'reply_comment' pk=comment.id %}">
                                    {% csrf_token %}
                                    {{ reply_comment_form.as_p }}
                                    <button type="submit" class="btn btn-primary mt-2">Répondre</button>
                                </form> {% endcomment %}
                            </div>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>