
    <div class="container mx-auto">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <p>&copy; 2024 Votre Nom. Tous droits réservés.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mx-auto">
                <a href="#" class="text-decoration-none">Politique de confidentialité</a>
                <span class="mx-2">|</span>
                <a href="#" class="text-decoration-none">Conditions d'utilisation</a>
            </div>
        </div>
    </div>

