{% load static %}

<footer class="bg-bleu-profond text-gray-200">
    <div class="container mx-auto px-6 py-8">
        <div class="flex justify-between">
            <div class="flex flex-col">
                <span>&copy; 2024 Votre Nom. Tous droits réservés.</span>
                <a href="#" class="text-jaune-doré hover:text-jaune-doré-light mt-2">Politique de confidentialité</a>
                <a href="#" class="text-jaune-doré hover:text-jaune-doré-light mt-2">Conditions d'utilisation</a>
            </div>
            <div class="flex flex-col">
                <span>Suivez-nous sur les réseaux sociaux :</span>
                <div class="flex mt-2">
                    <a href="https://facebook.com" target="_blank" class="mr-4">
                        <img src="{% get_media_prefix %}img/design/tiktok.png" alt="Facebook" class="w-10 h-10 fill-current text-jaune-doré">
                    </a>
                    <a href="https://twitter.com" target="_blank" class="mr-4">
                        <img src="{% get_media_prefix %}img/design/x.png" alt="Twitter" class="w-10 h-10 fill-current text-jaune-doré">
                    </a>
                    <a href="https://instagram.com" target="_blank" class="mr-4">
                        <img src="{% get_media_prefix %}img/design/insta.png" alt="Instagram" class="w-10 h-10 fill-current text-jaune-doré">
                    </a>
                    <!-- Autres icônes de réseaux sociaux -->
                </div>
            </div>
        </div>
    </div>
</footer>
