{% extends 'rome/base.html' %}
{% load markdown_filters %}
{% block content %}
    <div class="card mb-4">
        <div class="card-body">
            <h2 class="card-title">{{ histoire.title }}</h2>
            <p class="card-text">{{ histoire.content|markdown|safe }}</p>
            <!-- Vous pouvez ajouter d'autres champs spécifiques à l'histoire ici -->
            <button class="btn btn-primary" id="like-btn" data-article-id="{{ histoire.id }}">
                <i class="bi bi-hand-thumbs-up"></i> Like
            </button>
            <span id="likes-count" class="ms-2">{{ histoire.likes }}</span> Likes
        </div>
    </div>
    {% include 'rome/comment.html' %}
    <script>
        // Script jQuery pour gérer le clic sur le bouton Like
        $(document).ready(function() {
            $("#like-btn").on("click", function() {
                var articleId = $(this).data("article-id");
                $.ajax({
                    url: `/like_article/${articleId}/`,
                    method: "POST",
                    dataType: "json",
                    success: function(data) {
                        $("#likes-count").text(data.likes);
                    },
                    error: function(error) {
                        console.log("Error:", error);
                    }
                });
            });
        });
    </script>
{% endblock %}
