{% extends 'rome/base.html' %}
{% load markdown_filters %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-lg-4">
            <div class="mb-4">
                {% include 'rome/weather.html' %}
            </div>
            {% for sponsor in sponsors %}
                {% include 'rome/sponsor_card.html' with sponsor=sponsor %}
            {% endfor %}
        </div>

        <div class="col-lg-8">
            <div class="row">
                {% for content in articles %}
                    <div class="col-md-6 mb-4">
                        <div class="card">
                            <img src="{{ content.image.url }}" class="card-img-top" alt="{{ content.title }}">
                            <div class="card-body">
                                <h5 class="card-title">{{ content.title }}</h5>
                                <p class="card-text">{{ content.summary|truncatewords:20 }}</p>
                                <a href="{% url 'article_detail' pk=content.pk %}" class="btn custom-btn">Lire la suite</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
