{% extends 'rome/base.html' %}
{% load markdown_filters %}
{% block content %}
<div class="max-w-4xl mx-auto mt-4">
    <div class="mb-4">
        <img src="{{ itineraire.image.url }}" alt="{{ itineraire.title }}" class="w-full h-auto object-cover rounded-lg shadow-lg">
        <figcaption class="text-sm text-gray-500">{{ itineraire.image_description }}</figcaption>
    </div>
    <h2 class="text-3xl font-bold">{{ itineraire.title }}</h2>
    <p class="text-gray-600">Publié le {{ itineraire.date|date:"j F Y" }} par <a href="{% url 'author_detail' pk=itineraire.author.id %}" class="text-blue-500">{{ itineraire.author.name }}</a></p>
    <div class="mt-4 text-gray-800">{{ itineraire.content|markdown|safe }}</div>
    <!-- Espace pour afficher l'itinéraire depuis MyMaps -->
    <div class="mt-4">
        <iframe class="w-full h-96" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="{{ itineraire.map_link }}"></iframe>
    </div>
</div>
{% endblock %}

    {% include 'rome/comment.html' %}
    <script>
        // Script jQuery pour gérer le clic sur le bouton Like
        $(document).ready(function() {
            $("#like-btn").on("click", function() {
                var articleId = $(this).data("article-id");
                $.ajax({
                    url: `/like_article/${articleId}/`,
                    method: "POST",
                    dataType: "json",
                    success: function(data) {
                        $("#likes-count").text(data.likes);
                    },
                    error: function(error) {
                        console.log("Error:", error);
                    }
                });
            });
        });
    </script>
{% endblock %}