<div class="card mb-4">
    <figure>
        <img src="{{ itineraire.image.url }}" class="card-img-top float-{{ itineraire.image_position }}" alt="{{ itineraire.title }}">
        <figcaption class="card-img-caption">
            <!-- Ajoutez votre description d'image ici -->
            {{ itineraire.image_description }}
        </figcaption>
    </figure>
    <div class="card-body">
        <span class="badge badge-info badge-custom">Itinéraire</span>
        <h2 class="card-title">{{ itineraire.title }}</h2>
        <p class="card-text meta">Publié le {{ itineraire.date|date:"j F Y" }}par <a class="custom-author" href="{% url 'author_detail' pk=itineraire.author.id %}">{{ itineraire.author.name }}</a></p>
        <p class="card-text">{{ itineraire.content|truncatewords:30 }}</p>
        <a href="{% url 'itineraire_detail' pk=itineraire.id %}" class="btn btn-primary custom-btn">Lire la suite</a>
    </div>
</div>
