<nav class="shadow py-4 navbar">
    <div class="container mx-auto px-4 flex justify-between items-center">
        <a class="text-xl font-semibold nav-link hover:text-jaune-doré-light" href="{% url 'home' %}">Accueil</a>
        <div class="hidden md:flex">
            <a class="text-base text-beige nav-link hover:text-jaune-doré px-3 py-2 rounded" href="{% url 'itineraire_list' %}">Itinéraire</a>
            <a class="text-base text-beige nav-link hover:text-jaune-doré px-3 py-2 rounded" href="{% url 'tips' %}">Préparer son voyage</a>
            <a class="text-base text-beige nav-link hover:text-jaune-doré px-3 py-2 rounded" href="{% url 'about' %}">À propos</a>
            <a class="text-base text-beige nav-link hover:text-jaune-doré px-3 py-2 rounded" href="{% url 'product_list' %}">Eshop</a>
        </div>
        <div class="md:hidden">
            <button class="navbar-toggler text-beige" type="button">
                <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path></svg>
            </button>
        </div>
        <form action="{% url 'search_results' %}" method="get" class="flex items-center">
            <input type="search" name="q" placeholder="Recherche..." class="rounded-l py-2 px-4" />
            <button type="submit" class="btn-primary  text-white py-2 px-4 rounded-r">
                Rechercher
            </button>
        </form>
        {% if user.is_authenticated %}
        <div class="relative">
            <button class="dropdown-toggle text-beige focus:outline-none btn-primary text-white py-2 px-4 rounded" type="button">
                {{ user.username }}
                <svg class="w-4 h-4 ml-2 inline-block" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
                </svg>
            </button>
            <div class="dropdown-menu absolute hidden right-0 w-48 py-2 mt-2 bg-bleu-profond text-white shadow-lg z-50 drop-custom">
                <a class="block px-4 py-2 text-sm nav-link " href="{% url 'profile' %}">Profil</a>
                <a class="block px-4 py-2 text-sm nav-link" href="#">Panier</a>
                <a class="block px-4 py-2 text-sm nav-link" href="#">Articles enregistrés</a>
                <a class="block px-4 py-2 text-sm nav-link" href="{% url 'logout' %}">Déconnexion</a>
            </div>
        </div>
    {% else %}
        <a href="{% url 'login' %}" class="text-base bg-vert-sauge hover:bg-vert-sauge-dark text-white py-2 px-4 rounded transition duration-300 ">Connexion</a>
    {% endif %}
</div>
</nav>

<!-- Script pour le menu déroulant de l'utilisateur -->
<script>
document.addEventListener('DOMContentLoaded', function () {
    const dropdownToggle = document.querySelector('.dropdown-toggle');
    const dropdownMenu = document.querySelector('.dropdown-menu');

    dropdownToggle.addEventListener('click', function () {
        dropdownMenu.classList.toggle('hidden');
    });

    // Fermer le dropdown en cliquant en dehors
    window.addEventListener('click', function (e) {
        if (!dropdownToggle.contains(e.target)) {
            dropdownMenu.classList.add('hidden');
        }
    });
});
</script>