<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'home' %}">Accueil</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">Architecture</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Histoire</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Art</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Culinaire</a>
            </li>
            <!-- Ajoutez la section Eshop -->
            <li class="nav-item">
                <a class="nav-link" href="{% url 'product_list' %}">Eshop</a>
            </li>
        </ul>

        <!-- Barre de recherche -->
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Recherche" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Rechercher</button>
        </form>
        
        <!--Bouton login-->
        <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">Connexion</a>
        </li>
        
    </div>
</nav>